<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>处理机调度模块</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="section" id="init">
	<h2 class="title">系统初始化</h2>
	<div class="cont">
		<p class="row">
			系统说明：
		</p>
		<p class="row">
			<ul class="intro">
				<li class="intro-item">
					系统名称：<strong>处理机调度模块</strong>
				</li>
				<li class="intro-item">
					实现处理机调度模块功能。包含二级调度，作业调度采用先来先服务策略，进程调度采用时间片轮转调度算法，资源分配采用银行家算法避免死锁，JavaScript 实现。
				</li>
				<li class="intro-item">
					为每个进入后备队列的作业创建一个JCB，内容包括：<strong>作业标识</strong>、<strong>预计运行时间</strong>、<strong>资源需求</strong>等。其中预计运行时间和资源需求随机生成（1—20个时间片，A资源0-5，B资源0-3，C资源0-4）
				</li>
				<li class="intro-item">
					时间片充足的情况下，每个进程申请各类资源的数目不超过系统资源总数的<strong>1/2</strong>。
				</li>
				<li class="intro-item">
					进程在运行过程中（即每个时间片内），<strong>可能会申请新的资源，数量随机（申请的各类资源个数均不超过2）</strong>。用银行家算法控制资源的分配，避免死锁。
				</li>
				<li class="intro-item">
					资源不够时将进程顺序分配到阻塞队列中，释放资源时按阻塞先后顺序唤醒进程。
				</li>
			</ul>
		</p>
		<p class="row">
			任务数：
			<input type="number" class="form-control" v-model="sum">
			A 总量：
			<input type="number" class="form-control" v-model="src.A">
			B 总量：
			<input type="number" class="form-control" v-model="src.B">
			C 总量：
			<input type="number" class="form-control" v-model="src.C">
			<button type="button" class="btn btn-success" @click="refresh">重置系统状态</button>
		</p>
	</div>
	</div>
	<div class="section" id="system">
		<h2 class="title">系统状态</h2>
		<div class="cont">
			<p class="row">
				进程占用资源：
				A：<span :class="rest.A === 0 ? 'done' : 'less'">{{ getCount('A') }}</span> / {{ src.A }}　
				B：<span :class="rest.B === 0 ? 'done' : 'less'">{{ getCount('B') }}</span> / {{ src.B }}　
				C：<span :class="rest.C === 0 ? 'done' : 'less'">{{ getCount('C') }}</span> / {{ src.C }}　
			</p>
			<p class="row">
				已执行时间片：<span :class="times === allTimes ? 'done' : 'less'">{{ times }}</span> / {{ allTimes }}
			</p>
			<p class="row">系统信息（{{ systemMessage.length }}）：</p>
			<p class="row">
				<ul class="console" id="console">
					<li class="console-item" v-for="msg in systemMessage">{{ msg }}</li>
				</ul>
			</p>
			<p class="row">
				模拟操作：
				<button type="button" class="btn" @click="next">执行1步</button>
				<button type="button" class="btn" @click="next10">执行10步</button>
				<button type="button" class="btn" @click="next100">执行100步</button>
			</p>
		</div>
	</div>
	<div class="section" id="back-queue">
		<h2 class="title">
			<span>后备队列</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
			<div class="handle">
				<button 
					type="button" 
					class="btn"
					:class="isHide ? 'btn-success' : ''"
					@click="togglePanel">
					{{ isHide ? '展开' : '隐藏' }}后备队列
				</button>
			</div>
		</h2>
		<ul class="queue clearfix" :class="{ hide: isHide }">
		<transition-group tag="ul" class="queue clearfix" :class="{ hide: isHide }" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section" id="ready-queue">
		<h2 class="title">
			<span>就绪队列</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
		</h2>
		<transition-group tag="ul" class="queue clearfix" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section" id="block-queue-A">
		<h2 class="title">
			<span>阻塞队列 A</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
		</h2>
		<transition-group tag="ul" class="queue clearfix" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section" id="block-queue-B">
		<h2 class="title">
			<span>阻塞队列 B</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
		</h2>
		<transition-group tag="ul" class="queue clearfix" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section" id="block-queue-C">
		<h2 class="title">
			<span>阻塞队列 C</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
		</h2>
		<transition-group tag="ul" class="queue clearfix" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section" id="done-queue">
		<h2 class="title">
			<span>完成队列</span>
			<div class="data-row">
				队列长度：<span class="done">{{ items.length }}</span>　
			</div>
		</h2>
		<transition-group tag="ul" class="queue clearfix" name="queue-animation">
			<li class="jcb queue-animation-item" v-for="item in items" :key="item.id">
				<p class="jcb-id">JCB - <strong>{{item.id}}</strong></p>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">Max</p>
						<p v-for="(value, key) in item.max">
							{{key}}：{{value}}
						</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">Allocation</p>
						<p v-for="(value, key) in item.allocation">
							{{key}}：<span :class="value === item.max[key] ? 'done' : 'less'">{{value}}</span>
						</p>
					</div>
				</div>
				<div class="jcb-section">
					<div class="jcb-widget">
						<p class="jcb-title">预计时间</p>
						<p>{{item.planTime}}</p>
					</div>
					<div class="jcb-widget">
						<p class="jcb-title">已执行</p>
						<p :class="item.restTime === 0 ? 'done' : 'less'">{{item.planTime - item.restTime}}</p>
					</div>
				</div>
			</li>
		</transition-group>
	</div>
	<div class="section">
		<h2 class="title">作者信息</h2>
		<div class="cont">
			<ul class="author">
				<li class="author-item">学校：广东工业大学</li>
				<li class="author-item">班级：2014 级软件工程（4）班</li>
				<li class="author-item">学号：3114006311</li>
				<li class="author-item">姓名：杨子聪</li>
				<li class="author-item">源码托管：<a href="https://github.com/gisonyeung/OS-curriculum-design" target="_blank">https://github.com/gisonyeung/OS-curriculum-design</a></li>
			</ul>
		</div>
	</div>

	<!-- MVC框架 用于页面构建 -->
	<script src="./js/vue.js"></script>
	<!-- 工具库 -->
	<script src="./js/lodash.min.js"></script> 
	<!-- 私有工具实现 -->
	<script src="./js/util.js"></script>

	<!-- 以下脚本与课设实现有关 -->
	<!-- JCB 类实现 -->
	<script src="./js/JCB.js"></script>
	<!-- 队列 类实现 -->
	<script src="./js/Queue.js"></script>
	<!-- 页面操作逻辑，程序运行逻辑 -->
	<script src="./js/index.js"></script>
</body>
</html>